cachetools==4.1.0
decorator==4.3.0
gunicorn==20.0.4
h5py==2.9.0
Keras>=2.3.1
Keras-Applications>=1.0.8
Keras-Preprocessing>=1.1.0
numpy>=1.23.3
opencv-python==3.4.18.65
packaging==20.3
requests==2.23.0
requests-file==1.4.3
scikit-learn==1.1.2
sklearn==0.0
streamlit>=1.12.0
tensorflow>=2.6.0
scipy>=0.15.1
matplotlib>=3.6.0
